/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

button {
    border-radius: 0.5rem;
}

.red-button {
    border-color: #000000;
    background-color: #D3D3D3;
    border-width: 0.3rem;
}

.wicket-button {
    background-color: #D3D3D3;
    border-color: black;
    border-width: 0.3rem;
}

.red-button:hover {
    background-color: #D3D3D3;
    border-color: black;
    transition: 0.5s;
}

.wicket-button:hover {
    background-color: #D3D3D3;
    border-color: black;
    transition: 0.5s;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

#teams-heading p {
    display: inline-block;
}

header h1 {
    font-size: 2.5rem;
}

section h2 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* --------- Page layout */

#intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 700px;
    font-weight: bolder;
}

.scores-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 85vh;
    max-height: 700px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#input-span {
    color: green;
}

#start-span {
    color: red;
}

.active-bat p {
    display: inline-block;
}

.h-team {
    float: left;
}

.a-team {
    float: right;
}

.clear {
    clear: both;
}

.active-area {
    margin-bottom: 2rem;
    margin-top: 0px;
}

.controls-area {
    margin-top: 1rem;
}

.controls-area button {
    margin-right: 1.5rem;
}

#no-balls-byes {
    margin-right: 0;
}

#active-bat-1, #bat-1-score, #scores-total, #bat-1-no {
    color: black;
    font-weight: bold;
}

.bold {
    color: black;
    font-weight: bold;
}

#data-entry {
    background-color: green;
    color: white;
    padding: 0.6rem 1rem;
    font-size: 1rem;
}

#data-entry:hover {
    border-color: green;
    background-color: white;
    color: green;
    transition: 0.7s;
}

#data-entry:active {
    border-color: black;
    color: black;
    background-color: grey;
}

#start-innings {
    background-color: red;
    color: white;
    padding: 0.6rem 1rem;
    font-size: 1rem;
}

#start-innings:hover {
    border-color: red;
    background-color: white;
    color: red;
    transition: 0.7s;
}

#start-innings:active {
    border-color: black;
    color: black;
    background-color: grey;
}

footer a:hover {

    color: red;
    transition: 0.7s;
}


#pnf-button {
    margin-top: 20%;
    background-color: green;
    color: white;
    padding: 0.6rem 1rem;
    font-size: 1rem;
}

#pnf-button a {
    color: white;
    text-decoration: none;
}
    
#pnf-button:hover {
    border-color: green;
    background-color: white;
    color: green;
    transition: 0.7s;
}

#pnf-button a:hover {
    color: green;
    text-decoration: none;
}


a img {
    width: 17%;
    height: auto;
}

/** -------- media queries */
@media only screen and (max-width: 600px) {
    .scores-area {
        width: 100%;
        line-height: 2px;
        height: auto;
        margin-bottom: 10px;
    }

    #teams-heading {
        line-height: 3px;
        font-size: 2rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    .h-team {
        float: none;
    }

    .a-team {
        float: none;
    }

    .controls-area button {
        margin-right: 0.5rem;
    }

    #bowling-table {
        width: 80vw;
        margin: auto;
        height: auto;
        line-height: 1rem;
    }

    a img {
        width: 60%;
    }
}

@media only screen and (max-height: 600px) {
    #main div {
        height: fit-content;
        max-height: none;
    }
    
    .h-team {
        float: none;
        align-items: center;
    }

    .a-team {
        float: none;
    }

    #bowling-table {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 400px) {
    header h1 {
        font-size: 1.3rem;
    }

    #teams-heading {
        font-size: 1.1rem;
    }
}