/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* --------- Page layout */

.scores-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 80vh;
    max-height: 700px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.active-bat p {
    display: inline-block;
}

.h-team {
    float: left;
}

.a-team {
    float: right;
}
